@model Category
<form method="post" style="border-color:black">
    <div class="border p-3 mt-4">
        <div class="row p-3">
           <h2> delete Data </h2>
           <hr/>
        </div>
        @*<div class="row m-3">
            <label asp-for="Id"></label>
            <input asp-for="Id" class="form-control"/>

        </div>*@
        <input type="hidden" asp-for="Id"/>
        <div class="row m-3">
            <label asp-for="Salary"></label>
            <input disabled asp-for="Salary" class="form-control" />
            <span asp-validation-for="Salary" class="text-danger"></span>

        </div>
        <div class="row m-3">
            <label asp-for="FutureSalary"></label>
            <input disabled asp-for="FutureSalary" class="form-control" />
            <span asp-validation-for="FutureSalary" class="text-danger"></span>


        </div>
        <button class="btn btn-primary m-5" type="submit" style="width:200px"> 
            Delete </button>
        <button class="btn btn-primary m-5" type="submit" style=" width:200px " asp-action="index" asp-controller="Category"> Back </button>

    </div>
    








</form>

@section scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
